 @import url('https://fonts.googleapis.com/css?family=Poppins:wght@100;200;300;400;500;600;700;80/*0;900&display=swap'); 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Poppins',sans-serif;
}
h1{
    font-size: 2.5rem;
    font-weight: 700;
}
h2{
    font-size: 1.8rem;
    font-weight: 600;
}
h3{
    font-size: 1.4rem;
    font-weight: 800;
}
h4{
    font-size: 1.1rem;
    font-weight: 600;
}
h5{
    font-size: 1rem;
    font-weight: 400;
    color:black;
}
h6{
    color: #D8D8D8;
}
button{
    font-size: 0.8rem;
    font-weight: 700;
    outline: none;
    border: none;
    background-color: #1d1d1d;
    color: aliceblue;
    padding: 13px 30px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.3s ease;
}

button:hover{
    background-color: #3a3833;
}

hr{
    width: 30px;
    height: 2px;
    background: #fb774b;
} 
.star{
    padding: 10px 0;
}
.star i{
    font-size:0.8rem;
    color: goldenrod;
}
.navbar{
    font-size: 16px;
    top: 0;
    left: 0;

}
.navbar-light .navbar-nav .nav-link{
    padding: 0 20px;
    color: black;
    transition: 0.3s ease;

}
.navbar-light .navbar-nav .nav-link:hover,
.navbar i:hover,
.navbar-light .navbar-nav .nav-link.active
.navbar i.active{
    color: coral;
}
.navbar i{
    font-size: 1.2rem;
    padding: 0 7px;
    cursor: pointer;
    /* font-weight: 500; */
    transition: 0.3s ease;
}

#bar{
    font-size: 1.5rem;
    padding: 7px;
    cursor: pointer;
    /* font-weight: 500; */
    transition: 0.3s ease;
    color: black;
}
#bar:hover,
#bar.active{
    color: white;
}

@media only screen and (max-width:991px){
    body > nav > div > button:hover,
    body > nav > div > button:focus{
        background-color:orange;
    }
    body > nav > div > button:hover #bar,
    body > nav > div > button:focus #bar{
        color: white;
    }
    #navbarSupportedContent > ul {
        margin: 1rem;
        justify-content: flex-end;
        align-items: flex-end;
        text-align: right;
    }
    #navbarSupportedContent > ul > li:nth-child(n) > a{
        padding: 10px 0;
    }
}
/* Mobile Nav */
.navbar-light .navbar-toggler{
    border: none;
    outline: none;
}
#home{
    background-image: url("IMAGES/background_2.webp");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: top  center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
#home span{
    color:coral;
}
.row img{
    width: 200px;
}
#new .one img{
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#new .one .details{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: 0.3s ease;
}
#new .one:hover .details{
    cursor: pointer;
    background-color: rgba(245, 178, 178, 0.7);
}
#new .one .details button{
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    color:#2a2a2a;
    background: none;
    text-transform: uppercase;
    border-bottom: 1px solid #2a2a2a;
    padding: 2.5px;
    transform: translateY(70px);
    transition:0.3s ease;

}
#new .one .details button:hover{
    color:white;
    border-bottom: 1px solid white;
}
#new .one:nth-child(1) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
}
#new .one:nth-child(2) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#new .one:nth-child(3) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
}
/* products */
.product{
    cursor: pointer;
    margin-bottom: 2rem;
}
.product img{
    transition: 0.3s all;
}
.product:hover img{
    opacity: 0.7;
}
.product .buy-btn{
   background: rgb(243, 104, 54);
   transform: translateY(20px);
   opacity: 0;
   transition: 0.3s all;
}
.product:hover .buy-btn{
    transform: translateY(0);
    opacity: 1;
   
 }
 #banner{
    background-image: url("IMAGES/banner_10.jpg");
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: top 70px center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
 }
 #banner h4{
    color:black;
 }
 #banner h1{
    color:black;
 }
 #banner button{
    background-color:#fb774b;
 }
 footer{
    background-color: #222222;
 }
 footer h5{
    font-size: 1.2rem;
    color: white;
 }
 footer li{
    padding-bottom: 4px;
 }
 footer li a{
   font-size: 0.8rem;
   color: #999;
 }
 footer li a:hover{
    font-size: 0.8rem;
    color: #999;
  }
  footer p{
    color: #999;
    font-size: 0.8rem;
  }
  footer .copyright a{
    color: #000;
    height: 38px;
    width: 38px;
    background-color: white;
    display: inline-block;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
    transition: 0.3s ease;
    margin: 0 5px;
  }
  footer .copyright a:hover{
    color: white;
    background-color: #fb774b;
  }
  /* Cart */
  .cart{
    position: fixed;
    top: 0;
    right:-100%;
    width: 360px;
    min-height: 100vh;
    padding: 20px;
    background: whitesmoke;
    box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
    transition: 0.3s;
  }
  .cart.active{
    right: 0;
  }
  .cart-title{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
  }
  .cart-box{
    display: grid;
    grid-template-columns: 35% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
  }
  .cart-img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
  }
  .detail-box{
    display: grid;
    row-gap: 0.5rem;
  }
.cart-product-title{
    font-size: 1rem;
    text-transform: uppercase;
}
 .cart-price{
    font-weight:500 ;
 }
 .cart-quantity{
    border: 1px solid black;
    outline-color:saddlebrown ;
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
 }
 .cart-remove{
    font-size: 24px;
    color: #fb774b;
    cursor: pointer;
 }
 .total{
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid black;
 }
 .total-title{
    font-size: 1rem;
    font-weight: 600;
 }
 .total-price{
    margin-left: 0.5rem;
 }
 .btn-cart{
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px ;
    border: none;
    background: #fb774b;
    color: white;
    font-size: 1rem;
    cursor: pointer;
 }
 .btn-cart:hover{
    background: #000;
 }
 #close-cart{
    position: absolute;
    top: 1rem;
    right: 0.8rem;
    font-size: 2rem;
 }
 @media (max-width:400px){
    .cart{
        width: 320px;
    }
 }
 @media (max-width:360px){
    .cart{
        width: 280px;
    }
 }
 /* contact us page */
 .contact{
    padding-top:  100px;
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }
 .contact .content{
    max-width: 800px;
    text-align: center;

 }
 .contact .content h2{
    font-size: 36px;
    font-weight: 500;
    color:black;
 }
 .container2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
 }
 .container2 .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
 }
 .container2 .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
 }
 .container2 .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;

 }
 .container2 .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color:black ;
    flex-direction: column;
    font-weight: 300;
 }
 .container2 .contactInfo .box .text .h3{
    font-weight: 500;
    color: #000;
 }
 .contactForm{
    width: 40%;
    padding: 40px;
    background: white;
 }
 .contactForm h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;

 }
 .contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
    
 }
 .contactForm .inputBox input,
 .contactForm .inputBox textarea
 {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
 }
 .contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;

 }
 .contactForm .inputBox input:focus ~ span,
 .contactForm .inputBox input:valid ~ span
 .contactForm .inputBox textarea:focus ~ span,
 .contactForm .inputBox textarea:valid ~ span
 {
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
 }
 .contactForm .inputBox input[type="submit"]{
    width: 100px;
    background: #00bcd4;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;

 }
 @media(max-width: 991px){
    .contact{
        padding: 50px;
    }
    .container2{
        flex-direction: column;
    }
    .container2 .contactInfo{
        margin-bottom: 40px;
    }
    .container2 .contactInfo,
     .contactForm{
        width: 100%;
    }
 }


